// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.banner {
  height: 200px;
  width: 100%;
    background-color: rgb(37, 102, 159);
//    background-color: rgb(48, 171, 252);
    background-image: url("../mybanner.png");
    background-size: auto auto;
    background-repeat: no-repeat;
//    position: fixed;
//    top:0;
    background-position: center; 
    z-index: 99999999;
    border-bottom: 5px solid grey
}

.bannerlink {
  display:block; 
  width:100%; 
  height:200px;
}

body{        
//  padding-top: 200px;
  padding-bottom: 40px;
}

@media only screen and (max-width: 600px) {
  body {
//    padding-top: 100px;
  }
  .banner {
      height: 100px;
      width: 100%;
      background-color: rgb(37, 102, 159);
      background-image: url("../mybanner.png");
      background-size: 400px 133px;
      background-repeat: no-repeat;
 //     position: fixed;
//      top:0;
      background-position: center; 
      z-index: 99999999;
      border-bottom: 5px solid grey
  }
  .bannerlink {
    display:block; 
    width:100%; 
    height:100px;
  }



}

/*
.banner {
  height: 200px;
  width: 100%;
  background-color: rgb(48, 171, 252);
  background-image: url("../mybanner.png");
  background-size: 600px 200px;
  background-repeat: no-repeat;
  position: fixed;
  top:0;
  background-position: center; 
  z-index: 99999999;
  border-bottom: 5px solid grey
}
*/



a:link {
    color: rgb(37, 102, 159);
  }
  
  /* visited link */
  a:visited {
    color: rgb(37, 102, 159);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(37, 102, 159);
  }
  
  /* selected link */
  a:active {
    color: rgb(37, 102, 159);
  }

  .postitem {
    background-image: url("../arrow.svg");
    background-repeat: no-repeat;
    background-position: 0px 6px ;
    padding-left: 20px;
    border-bottom: 2px solid #eeeeee;
  }

  .myfooter {
    height: 40px;
    width: 100%;
    padding-left: 50px;
    line-height: 40px;
    background-color: #565656;
    //background-image: url("/assets/twitter.png");
    background-size: 30px 30px;
    background-position: 10px 5px;
    background-repeat: no-repeat;
    position: fixed;
    bottom:0;
    text-align: left;
    vertical-align: middle;
}

.footertext {
  color: white;
  font-size: 15px;
}

.myreadmore:link, .myreadmore:active, .myreadmore:visited {
  background-color: whitesmoke;
  color: rgb(37, 102, 159);
  border-radius: 25px;
  padding: 2px;
  padding-left: 7px;
  padding-right: 7px;
  border: thin solid black;
  text-decoration: none;
}

.myreadmore:hover {
  color: whitesmoke;
  background-color:  rgb(37, 102, 159);
  border-radius: 25px;
  padding: 2px;
  padding-left: 7px;
  padding-right: 7px;
  border: thin solid black;
  text-decoration: none;
}
